<% if current_user %>
	<%= image_tag current_user.image.url(:small) %>
	<%= current_user.name %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
<% else %>
	<li><%= link_to 'Entrar', new_user_session_path %></li>
<% end %>