<%= bootstrap_form_for([:admin, @question]) do |f| %>
<%= error_messages(@question) %>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
